#body{
    background-color:#03052c;
    padding: 0px;
    margin: 0px;
}
#caixa{
    background-color: aliceblue;
    width: 80%;
    height: 400px;
    margin-left: 50px;
   box-shadow: 2px 2px 12px aqua;
}
#foto{
   width: 250px;
   height: 250px;
}
#texto1{
    color: aliceblue;
    text-align: center;
    font-weight: bold;
    
}
#texto2{
    color: aqua;
    text-align: center;
}
#texto3{
    color: blue;
}